---
layout: layout.html
---

<main>
    <h1>11ty + Contentful</h1>
    {% for post in posts %}
	<article>
		<h1>{{ post.fields.title }}</h1>
		<time>{{ post.fields.date }}</time>
		<a href="/posts/{{ post.fields.title | slug }}">Read the post</a>
	</article>
{% endfor %}
</main>